export(absolute.plot, contrast.plot, nma.ab.bin, nma.ab.cont, nma.ab.followup, nma.ab.py, nma.networkplot, rank.prob)

import(rjags, coda, grDevices, methods)

importFrom("graphics", "abline", "axis", "legend", "lines", "mtext", "par", "plot", "points", "rect", "text", "strwidth")
importFrom("stats", "complete.cases", "density", "qnorm", "quantile", "update")
importFrom("utils", "write.table")
importFrom("methods", "is")